#rename-project.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;      
          h4#myModalLabel.modal-title Rename Kanban  
        .modal-body.new-content-project
          .container-fluid
            .row
              .col-md-12
                .form-group
                  label.control-label Title
                  input.form-control(type="text" name="title" placeholder="Title" value="#{project.title}")
                .form-group
                  input.form-control(type='date', name='deadline' value="#{project.deadline}")
                .form-group
                  input.form-control(type='number', name='sprint' value="#{project.sprint}")
        .modal-footer 
          button.btn.btn-primary#save-rename-project(type='button') Rename