extends layout

block content
  .body
    .container
      .row.top
        if errors.length > 0
          -for(var i =0; i < errors.length; i++)
            .alert.alert-danger.notice(role='errors')
              button.close(type='button', data-dismiss='alert', aria-label='Close')
                  span(aria-hidden='true') &times; 
              strong=errors[i]
        .col-sm-6.header
            | Scrum
            span Team
        .col-sm-6.loginform
          form.form-horizontal#login_validate(method="post")
            .form-group
              .col-sm-6
                input#inputusername.form-control(type='username', placeholder='Username', name="username")
            .form-group
                .col-sm-6
                  input#inputPassword3.form-control(type='password', placeholder='Password', name="password")
            .form-group
              .col-sm-2
                button.btn.btn-success(type='submit') Sign in
              .col-sm-6
                a(href="/register" style="color: #fff;") You not hava account
block scripts
  script(src='/javascripts/view/alert_view.js')
