html
  head
    title= title
    script(src='/js/jquery-1.11.2.min.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.validate.min.js')
  body
    block content
    block scripts