extends ../menu
block content
  if user.username == UserProfile.username
    include profile_master
  else
    include profile_member
  #message
  if messages != ""
    .alert.alert-success.notice(role='errors')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times; 
      strong=messages
  if errors != ""
    .alert.alert-warning.notice(role='errors')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times; 
      strong=errors
block script
  script(src='/javascripts/controller/socket_controller.js')
  script(src='/javascripts/profile_validate.js')
  script(src='/javascripts/controller/alert_controller.js')
  script(src='/javascripts/controller/profile_controller.js')
  script(src='/javascripts/view/profile_view.js')
  script(src='/js/socket.io-1.3.4.js')