.modal.fade.bs-example-modal-lg#note-detail-popup(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times; 
            #note_edit      
              h4.modal-title
            #note_moscow_edit 
              span.point.label.label-primary
            #note_point_edit 
              span.estimate.label.label-info
            #note_assign_edit
            #note_description_edit
              p.description
          .modal-body
            .row
              .col-md-10
                input(type="hidden" name="note_id_popup")
                h4 Comment
                .form-group#form_comment
                  textarea.form-control(type="text" rows="3" name="comment" placeholder="Write something")
                button.btn.btn-success#add-new-comment Comment
                #list-comment
              .col-md-2
                h4 Action
                a.col-md-12.btn.btn-primary#rename_note Rename
                a.col-md-12.btn.btn-primary#update_moscow_note Moscow
                a.col-md-12.btn.btn-primary#update_point_note Point
                a.col-md-12.btn.btn-primary#update_description_note Description
